@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: roboto, arial, serif;
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 10px #EAEAEA;
}
header a {
  position: relative;
  left: 25px;
}
header a .fas {
  font-size: 20px;
}
header .header__logo {
  transform: scale(0.5);
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
footer .logo-nb {
  display: flex;
  margin-right: 330px;
  margin-top: 20px;
  filter: invert(100%);
  transform: scale(0.5);
}
footer .menu-footer {
  list-style: none;
  padding-left: 20px;
}
footer .menu-footer a {
  color: white;
  text-decoration: none;
  display: inline;
}
footer .menu-footer li {
  margin-top: 10px;
}
footer .menu-footer li .fas {
  font-size: 12px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main__localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
  font-size: 18px;
  padding: 20px 0px 20px 0px;
}
main .main__localisation .fas {
  font-size: 20px;
  padding-right: 15px;
}
main .main__explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
main .main__explorer h1 {
  font-size: 25px;
  margin: 30px 60px 5px 60px;
}
main .main__explorer p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
}
main .main__explorer .bouton {
  border-radius: 30px;
  font-size: 17px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 8px 8px 10px #EAEAEA;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 17px;
}
main .main__fonctionnement h2 {
  padding-top: 35px;
}
main .main__fonctionnement .fonctionnement__etape {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: etape;
  margin-bottom: 65px;
}
main .main__fonctionnement .fonctionnement__etape li {
  list-style-type: none;
  counter-increment: etape;
  width: 250px;
  padding: 30px 40px 30px 40px;
  border-radius: 20px;
  box-shadow: 8px 8px 10px #EAEAEA;
  background-color: #F6F6F6;
  margin-top: 30px;
}
main .main__fonctionnement .fonctionnement__etape li:before {
  content: counter(etape);
  padding: 6px 9px;
  margin-left: -55px;
  margin-right: 20px;
  vertical-align: top;
  background: #9356DC;
  border-radius: 100%;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
}
main .main__fonctionnement .fonctionnement__etape li .fas {
  margin-right: 25px;
  color: gray;
}

aside {
  background-color: #F6F6F6;
  padding-right: 20px;
  padding-left: 20px;
}
aside h2 {
  padding-top: 55px;
  margin-bottom: 0px;
  margin-top: 0px;
}
aside .restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
aside .restaurant span {
  background-color: #99E2D0;
  color: #129273;
  position: relative;
  top: 50px;
  left: 140px;
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  border-radius: 3px;
}
aside .restaurant figure {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 280px;
  box-shadow: 8px 8px 10px #EAEAEA;
  margin-top: 0px;
}
aside .restaurant figure img {
  object-fit: cover;
  width: 375px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
aside .restaurant figure figcaption {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
aside .restaurant figure figcaption h3 {
  margin-bottom: -15px;
}
aside .restaurant figure figcaption p {
  font-size: 17px;
}
aside .restaurant figure figcaption .coeur {
  background: none;
  color: black;
  position: relative;
  font-size: 27px;
  top: -65px;
  left: 300px;
}

.main-menu {
  height: 1645px;
}
.main-menu img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.main-menu .menu {
  border-radius: 50px 50px 0px 0px;
  position: relative;
  bottom: 80px;
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 80px;
}
.main-menu .menu h1 {
  font-family: shrikhand, arial, serif;
  font-size: 30px;
  padding-left: 20px;
  padding-top: 20px;
}
.main-menu .menu .coeur {
  background: none;
  color: black;
  position: relative;
  font-size: 27px;
  top: -58px;
  left: 350px;
}
.main-menu .menu ul {
  padding-left: 20px;
  padding-right: 20px;
}
.main-menu .menu ul h2 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 50px;
}
.main-menu .menu ul li {
  list-style: none;
  background-color: white;
  box-shadow: 8px 8px 10px #EAEAEA;
  border-radius: 20px 20px 20px 20px;
}
.main-menu .menu ul li h3 {
  margin: 0px;
  margin-top: 20px;
  padding-top: 15px;
  padding-left: 15px;
}
.main-menu .menu ul li p {
  padding-left: 15px;
  margin: 0px;
  margin-top: 5px;
  font-weight: 300;
}
.main-menu .menu ul li span {
  position: relative;
  left: 320px;
  bottom: 20px;
}
.main-menu .menu .bouton {
  border-radius: 30px;
  font-size: 17px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 8px 8px 10px #EAEAEA;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 17px 50px 17px 50px;
  width: 120px;
  margin-top: 80px;
}

/*# sourceMappingURL=style.css.map */
